
.card-panel h2{
    background-color: teal ;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-weight: 600;
}
.card-panel{
    border-radius: 10px;
}
.card-panel button{
    width: 100%;
    margin-top: 10px;
    background-color: teal;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.2rem;
}
.collection{
    letter-spacing: .1rem;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}
.collection-item{
    display: flex;
    flex-direction: column;
    position: relative;
}
.collection-item > a{
    position: absolute;
    left: 40em;
}
.collection-item > label{
    position: absolute;
    left: .5px;
    
}

.icon-class{
    color: teal;
}